

/matlab/mats/*
py/test_plots
/.idea/*
*.asv
*.pyc
*.pkl
data_full/*/*.v3d
py/final_figures
py/uncertainty/artificial_images

# general extensions
*.aux
*.bbl
*.blg
*.lof
*.lot
*.log
*.synctex.gz
*.toc
*.out

# ignore the constantly updating main pdf
texdocs/main.pdf

# html versions
texdocs/psheader.txt
texdocs/main_html
texdocs/figs/appendix*

# lets ignore all files in the references for now
texdocs/references
