

/matlab/mats/*
py/test_plots
/.idea/*
*.asv
*.pyc
*.pkl
data_full/*/*.v3d

# ignore the figures that can be quickly regenerated
texdocs/figs/run*/*jpg
#texdocs/figs/appendix*
#texdocs/figs/Ely*
#texdocs/figs/tex/run*

# general extensions
*.aux
*.bbl
*.blg
*.lof
*.lot
*.log
*.synctex.gz
*.toc
*.out
*pdf.gz

# ignore the constantly updating main pdf
texdocs/main.pdf

# lets ignore all files in the references for now
texdocs/references
